body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

#count{
  width: 10%;
}

#offset{
  width: 10%;
}

#countLabel{
  margin-left: -70px;
  position: relative;
  top: 10px;
  color: red;
}

#offsetLabel{
  margin-left: -210px;
  position: relative;
  top: 10px;
  color: red;
}